.channel-header{
    width: 100%;
    padding:clamp(7px,1vh,20px) 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: solid 1px #5e5e5e;
    color: #383838;
    
}

.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}

.header-left-users{
    display: flex;
    align-items: center;
    color: #696969;

}

.edit-btn{
    background-color: #773dfffb;
    opacity: 0.9;
    border: none;
    outline: none;
    border-radius: 5px;
    outline: solid;
    cursor: pointer;
    padding: 5px;
    width: clamp(20px,calc(10vw + 10px),40px);
    height: clamp(20px,calc(10vw + 10px),40px);
    
}

.edit-btn:hover{
    opacity: 1;
}

.edit-btn img{
    width: clamp(10px,10vw,30px);
    height: clamp(10px,10vw,30px);
}

.back-btn{
    background-color: transparent;
    border: none;
    margin: none ;
    padding: none;
    height: 100%;
}

.back-btn img{
    height: 35px;
    width: 35px;
}

img{

    height: 60px;
}


@media (min-width: 600px) {

    .back-btn img{
        display: none;
    }


}