.login-container{
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 50vw, 500px);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    background-color: #1d1d1d;

    padding: 20px;
    border: rgb(136, 136, 136) 1px solid;
    box-shadow: 0 0 10px rgb(146, 146, 146);
    background-image: linear-gradient(45deg,#773DFF, #8f62f8);
}

.login-container h1 {

    margin-bottom: 20px;
    position: relative;
}


.login-container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-radius: 0 5px 5px 0;
    background-color: #e9e0fd88;

}



.input-group {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    color: rgb(102, 102, 102);
    border-radius: 3px;
}

.input-group label {
    min-width: 110px;
    
    text-align: right;
}

.input-group input {
    flex: 1;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;

}

.input-group input:focus {
    outline: none;
    border: none;
}



.login-submit{
    transition: 0.2s;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    color: rgb(63, 63, 63);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    
}

.login-submit:hover{
    background-color:#d1bfff ;

}
   
.register-link {
    transition: 0.2s;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: none;
    
    outline: none;
    cursor: pointer;

}

.register-link h3{
    font-weight: 400;
}

.register-link:hover {
    color: #bb9eff;

}

.login-error {
    padding: 10px;
    position: absolute;
    transition: 0.2s;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #FF3D3D;

    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    bottom: 30px;
}

.register-success {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #6cfa84;

    text-align: center;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}