.message-box{

    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: solid 1px #000000;
    padding: clamp(5px,1vw,10px) 20px;
    border-radius: 50px;
}

.message-box *{
    background-color: transparent;
    border: none;
    outline: none;
}
.message-input {
    font-size: 17px;
    flex-grow: 1;
    height: 100%;
    max-width: 85%;
}

.send-button img{
    transition: 0.2s;
    opacity: 0.8;
    height: clamp(35px,3vw,50px);
}

.send-button img:hover{
    opacity: 1;
}

